$decor-color: #14B3B4;
$decor-color-20p: rgba(20, 179, 180, 20%);
$basic-color: #000;
$basic-color-50p: rgba(0, 0, 0, 0.5);
$error-color: red;
$container-width: 1150px;
$container-width-sm: 900px;
$body-font: "Inter", "Arial", "Helvetica", sans-serif;

html {
    overflow-x: hidden;  
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    font-size: 16px;
    line-height: 144%;
    font-weight: lighter;
    font-family: $body-font;
    color: $basic-color;
}
button, input {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    color: inherit;
    font: inherit;
    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}
.scroll-wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.container {
    max-width: $container-width;
    margin: 0 auto;

    @include adaptive(beforeDesk) {
        padding: 0 14px;
        box-sizing: border-box;
    }
}
.container-sm {
    max-width: $container-width-sm;
}
.hidden {
    position: absolute;
    z-index: -1000;
    pointer-events: none;
    opacity: 0;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.absolute-mob  {
    @include adaptive(beforeDesk) {
        position: absolute;
    }
}
.disabled {
    pointer-events: none;
    touch-action: none;
}
.img {
    display: block;
    width: 100%;
    height: 100%;
}

.img-contain {
    object-fit: contain;
}

.img-cover {
    object-fit: cover;
}

.centered {
    text-align: center;
}
.centered-desk {
    text-align: center;
    @include adaptive(beforeDesk) {
        text-align: left;
    }
}
.centered-mob {
    @include adaptive(beforeDesk) {
        text-align: center;
    }
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.page-h1 {
    margin: 0;
    font-size: 48px;
    line-height: 1.2;

    @include underline(40px, 20px);

    @include adaptive(beforeDesk) {
        font-size: 32px;
    }
}

.page-h2 {
    margin: 0 0 30px;
    font-size: 35px;
    line-height: 1.2;

    @include adaptive(beforeDesk) {
        margin: 0 0 18px;
        font-size: 28px;
    }
}

.page-h3 {
    margin: 0 0 20px;
    font-size: 22px;
    line-height: 1.2;

    @include adaptive(beforeDesk) {
        margin: 0 0 15px;
        font-size: 16px;
    }
}

p {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
.page-section p > b {
    font-size: 18px;

    @include adaptive(beforeDesk) {
        font-size: 16px;
    }
}

.page-intro p {
    font-size: 24px;
    line-height: 40px;
    font-weight: normal;

    & > b {
        font-size: inherit;
    }

    @include adaptive(beforeDesk) {
        font-size: 16px;
        line-height: 24px;
    }
}

.page-section-black p,
.page-section-black .page-h2 {
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        &::before {
            content: '';
            display: block;
            min-width: 10px;
            min-height: 2px;
            margin-right: 10px;
            margin-top: 10px;
            background-color: #000;
        }
        & + li {
            margin-top: 10px;
        }
    }
}



.page-section {
    margin-bottom: 90px;
    background-color: #fff;
    @include adaptive(beforeDesk) {
        margin-bottom: 40px;
    }
    &__col {
        width: 100%;
        box-sizing: border-box;
        @include adaptive(desktop) {
            padding: 30px 60px;
        }        
    }
}
.page-intro 
{
    // @include adaptive(beforeDesk) {
    //     margin-right: 15px;
    //     margin-left: 15px;
    // }
    

    // .container {
    //     box-sizing: border-box;
    //     padding: 30px 0 50px 50px;
    //     border-left: 10px solid #000;
    //     box-shadow: 0 0 55px 10px #ccc;
    //     @include adaptive(beforeDesk) {
    //         padding: 20px 0 30px 20px;
    //         border-width: 5px;
    //         box-shadow: 0 0 35px 10px #ccc;
    //     }
    // }

    b {
        @include underlineInnerText;
    }
}
.page-section > .page-section__header {
    @include adaptive(beforeDesk) {
        padding: 0 15px;
    }
}
.page-section-black {
    background-color: #000;
    padding: 40px 0;
}
.page-subsection-border {
    padding: 40px;

    // @mixin hoverDefault($bg-color, $color, $bg-color-h, $color-h)
    @include hoverDefault(#000, #fff, #fff, #000);
}
.page-section__col--form {
    padding-left: 0;
}
.page-section__col--tg {
    border: 2px solid #000;
    @include adaptive(desktop) {
        max-width: 465px;
    }
    @include adaptive(beforeDesk) {
        padding: 20px 15px;
    }
}

.page-subsection  {
    margin-bottom: 35px;

    &:last-child {
        margin-bottom: 0;
    }

    &__mark {
        margin-top: 15px;
    }

    &__link {
        position: relative;
        display: inline-block;
        margin-top: 15px;
        font-weight: bold;
        // color: #2F80ED;
        color: #000;

        
        &::after {
            content: '';
            display: block;
            width: 0;
            border: 1px solid #000;
            opacity: 0;

            transition: 0.2s ease-in-out;
        }
        &:hover::after {
            width: 100%;
            opacity: 1;
        }
        
    }
}

.decor-shape-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    box-sizing: content-box;

    .circle {
        position: absolute;
        top: calc(50% - 150px);
        left: calc(50% - 150px);
        z-index: 1;
        @include circle(300px, 300px, #6861A5, 0 0 55px 10px #6861A5)
    }
    
    .rect {
        position: absolute;
        top: calc(50% - 200px);
        left: calc(50% - 200px);
        @include rect(200px, 200px, #fff, 0);
        border: 4px solid #6861A5;
        
    }
   

    .page-h3 {
        z-index: 2;
        margin: 0;
        color: #fff;
        letter-spacing: 0.05em
    }
}

