$mobile: 480px;
$desktop: 1151px;
$pad: 768px;

@mixin adaptive($media){
    @if $media == beforeDesk {
        @media only screen and (max-width: $desktop - 1) {
            @content
        }
			
    } @else if $media == mobile {
        @media only screen and (max-width: $pad - 1) {
            @content
        }			
    } @else if $media == pad {
        @media only screen and (min-width: $pad) and (max-width: $desktop - 1 ) {
            @content
        }			
    } @else if $media == desktop {
        @media only screen and (min-width: $desktop ) {
            @content
        }			
    }
}

@mixin hoverDefault($bg-color, $color, $bg-color-h, $color-h) {
    border: 2px solid $bg-color;
    background-color: $bg-color;
    color: $color;

    cursor: default;

    transition: 0.2s ease-in-out;

    &:hover {
        background-color: $bg-color-h;
        color: $color-h;
    }
}

@mixin underline($mb, $mb-m) {
    background: linear-gradient(180deg,rgba(255,255,255,0) 60%,#D1E754 60%,#D1E754 85%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100% );
    display: inline;

    &::after {
        content: '';
        display: block;
        height: $mb;
        @include adaptive(beforeDesk) {
            height: $mb-m
        }
    }
}

@mixin underlineInnerText {
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='203.893' height='7.092' viewBox='0 0 203.893 7.092'%3E%3Cpath id='Path_127' data-name='Path 127' d='M295.126,2098.475q-6.84.615-13.694,1.032h-.054c-1.584-.09-3.173-.131-4.759-.139-6.226-.032-12.457.067-18.683.142q-19.049.228-38.092.722c-1.64.042-3.281.094-4.921.138l-.37,0q-39.1-.4-78.2-.321-22.085.047-44.17.248a.434.434,0,1,0,.015.865q29.9-.271,59.791-.26-4.5.126-8.994.3c-14.26.584-28.5,1.652-42.634,3.5-.605.079-.635.893.015.865,25.376-1.1,50.753-2.2,76.139-3.119q14.018-.506,28.038-.914c13.181.1,26.362.21,39.543.079,1.5.023,3.006.04,4.509.064q22.08.348,44.155.85c.467.01.685-.638.234-.81a28.208,28.208,0,0,0-2.687-.87.566.566,0,0,1,.084-1.1q2.379-.187,4.755-.4C295.765,2099.284,295.756,2098.419,295.126,2098.475Zm-42.849,1.974q6.143-.087,12.284-.141-10.271.351-20.554.439-2.314-.034-4.63-.07C243.677,2100.6,247.977,2100.51,252.277,2100.449Zm-108.995,2.42q-15.386.632-30.771,1.305c21.183-2.123,42.53-2.7,63.832-2.759,1.6-.005,3.19,0,4.785,0Q162.2,2102.08,143.282,2102.869Zm146.491-1.273q-11.8-.263-23.6-.478,7.633-.281,15.258-.748a.428.428,0,0,1,.064,0A41.4,41.4,0,0,1,289.773,2101.6Z' transform='translate(-91.711 -2098.472)' fill='%236861A5'/%3E%3C/svg%3E");
    @include adaptive(beforeDesk) {
        padding-bottom: 5px;
    }
}

@mixin hoverUnderline($color) {
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 0;
        box-sizing: border-box;
        border: 1px solid $color;
        opacity: 0;

        transition: 0.2s ease-in-out;
    }
    &:hover::after {
        width: 100%;
        opacity: 1;
    }
}

// #474a51