.page-slider {
    position: relative;

    .swiper-container {
        max-width: 900px;
        min-height: 125px;
        margin: 0 auto;

        @include adaptive(beforeDesk) {
            max-width: 100%;
        }
    }
    .swiper-container--mob {
        max-width: unset;
        min-height: unset;
    }
    .swiper-wrapper--mob {
        flex-wrap: wrap;

        @include adaptive(mobile) {
            flex-wrap: nowrap;
        }
    }
    .swiper-button-prev, 
    .swiper-button-next {
        color: #000;
        transition: opacity 0.2s ease-in-out;

        @include adaptive(mobile) {
            display: none;
        }
    }

    .swiper-button-prev--mob,
    .swiper-button-next--mob {
        display: none;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        @include adaptive(beforeDesk) {
            font-size: 16px;
            font-weight: 700;
        }
    }

    .swiper-button-prev {
        left: -60px;
        @include adaptive(beforeDesk) {
            left: -22px;
        }
    }

    .swiper-button-next {
        right: -60px;
        @include adaptive(beforeDesk) {
            right: -22px;
        }
    }

    .swiper-button-disabled {
        opacity: 0;
    }

    .swiper-slide {
        height: unset;
    }

    .swiper-slide--mob {
        @include adaptive(mobile) {
            margin: 0;
        }
    }

    .swiper-pagination {
        width: 100%;

        @include adaptive(desktop) {
            display: none;
        }
    }

    .swiper-pagination-bullet {
        margin-right: 4px;
    }

    .swiper-pagination-bullet-active {
        background-color: #00000085;
    }
}

.page-section-black {
    .swiper-button-prev, 
    .swiper-button-next {
        color: #fff;
    }
}