@font-face {
    font-family: 'Stapel';
    src: url('Stapel-Bold.eot');
    src: local('Stapel Bold'), local('Stapel-Bold'),
        url('Stapel-Bold.eot?#iefix') format('embedded-opentype'),
        url('Stapel-Bold.woff2') format('woff2'),
        url('Stapel-Bold.woff') format('woff'),
        url('Stapel-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Stapel';
    src: url('Stapel-BoldItalic.eot');
    src: local('Stapel Bold Italic'), local('Stapel-BoldItalic'),
        url('Stapel-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Stapel-BoldItalic.woff2') format('woff2'),
        url('Stapel-BoldItalic.woff') format('woff'),
        url('Stapel-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Stapel';
    src: url('Stapel-MediumItalic.eot');
    src: local('Stapel Medium Italic'), local('Stapel-MediumItalic'),
        url('Stapel-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Stapel-MediumItalic.woff2') format('woff2'),
        url('Stapel-MediumItalic.woff') format('woff'),
        url('Stapel-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Stapel';
    src: url('Stapel-Light.eot');
    src: local('Stapel Light'), local('Stapel-Light'),
        url('Stapel-Light.eot?#iefix') format('embedded-opentype'),
        url('Stapel-Light.woff2') format('woff2'),
        url('Stapel-Light.woff') format('woff'),
        url('Stapel-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stapel';
    src: url('Stapel-Medium.eot');
    src: local('Stapel Medium'), local('Stapel-Medium'),
        url('Stapel-Medium.eot?#iefix') format('embedded-opentype'),
        url('Stapel-Medium.woff2') format('woff2'),
        url('Stapel-Medium.woff') format('woff'),
        url('Stapel-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Stapel';
    src: url('Stapel-LightItalic.eot');
    src: local('Stapel Light Italic'), local('Stapel-LightItalic'),
        url('Stapel-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Stapel-LightItalic.woff2') format('woff2'),
        url('Stapel-LightItalic.woff') format('woff'),
        url('Stapel-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Stapel';
    src: url('Stapel-Italic.eot');
    src: local('Stapel Italic'), local('Stapel-Italic'),
        url('Stapel-Italic.eot?#iefix') format('embedded-opentype'),
        url('Stapel-Italic.woff2') format('woff2'),
        url('Stapel-Italic.woff') format('woff'),
        url('Stapel-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

