<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STOIC SPACE</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="fonts/stapel/stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="fonts/steinbeck/stylesheet.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="page-news" data-close="target">
        <div class="container centered-desk-desk row v-row-center h-row-center wrap-mob page-news__inner">
            <a href="#">Обо всех открытых мероприятиях сообщества мы рассказываем в
                Telegram-канале StoicStrategy 
            </a> 
            <span class="page-news__icon"></span>
            <button class="btn-close" data-close="control"></button>
        </div>
    </div>

    <header class="page-header">
        <div class="container row h-row-between wrap-mob page-header__inner">
            <a href="index.html" class="page-header__logo"></a>
            <button class="page-header__dropdown-btn"
                data-show-nav="control">
                <span></span>
            </button>

            <nav class="page-nav page-nav-main" data-show-nav="target">
                <div class="container centered-desk page-nav__inner">
                    <a href="index.html" class="page-nav__link">Сообщество</a>
                    <a href="course.html" class="page-nav__link active">Учебный курс</a>
                    <a href="index.html" class="page-nav__link">Корп. клиентам</a>
                    <a href="index.html" class="page-nav__link">О проекте</a>
                </div>
            </nav>

            <a href="index.html" class="btn-buy">Стать резидентом</a>
        </div>

        
    </header>

    <!-- <main class="scroll-wrapper"></main> -->
    <main class="">
        
        <section class="page-section video-banner video-banner--course">
            <div class="container">
                <div class="video-banner__content">
                    <p>
                        StoicDiscovery - базовый курс по практикам стоиков <span>(только для резидентов ΔELTA)</span>
                    </p>
    
                    <a href="index.html" class="btn-buy">Стать резидентом</a>
                </div>
                
            </div>
            
            <video autoplay="autoplay" loop="loop" muted="muted" src="banners/course-video-banner.mp4" class="video-banner__video"></video>
        </section>


        <section class="page-section page-intro" data-aos="fade-right" data-aos-duration="800">
            <div class="container">
                <div class="page-section__header">
                    <h1 class="page-h1">Курс по стоическим практикам StoicDiscovery</h1>
                </div>
                <div class="page-section__body">
                    <p class="">Курс StoicDiscovery - это базовый <b>ежемесячный учебный курс</b>, который
                        доступен на платформе. Доступ к нему можно получают все резиденты платформы неограниченное
                        количество раз.</p>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="container">
                <div class="page-section__header">
                    <h2 class="page-h2 centered-desk">Курс в цифрах</h2>
                </div>
                <div class="page-section__body">
                    <div class="row wrap">
                        <div class="column column-3-m-w" data-aos="fade-up" data-aos-delay="0" data-aos-duration="800">
                            <div class="feature-number">
                                <div class="feature-number__shape">
                                    <span class="feature-number__value">14</span>
                                </div>
                                <hr class="separator">
                                <p class="feature-number__descr">Уроков (** часов аудио, ** листов
                                    учебных материалов)</p>
                            </div>
                        </div>

                        <div class="column column-3-m-w" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">
                            <div class="feature-number">
                                <div class="feature-number__shape">
                                    <span class="feature-number__value">7</span>
                                </div>
                                <hr class="separator">
                                <p class="feature-number__descr">Практических заданий для освоения
                                    материала и его внедрения в повседневную практику</p>
                            </div>
                        </div>

                        <div class="column column-3-m-w" data-aos="fade-up" data-aos-delay="400" data-aos-duration="800">
                            <div class="feature-number">
                                <div class="feature-number__shape">
                                    <span class="feature-number__value">3</span>
                                </div>
                                <hr class="separator">
                                <p class="feature-number__descr">Групповые Zoom-сессии с авторами и
                                    организаторами курса</p>
                            </div>
                        </div>

                        <div class="column column-3-m-w" data-aos="fade-up" data-aos-delay="600" data-aos-duration="800">
                            <div class="feature-number">
                                <div class="feature-number__shape">
                                    <span class="feature-number__value">3</span>
                                </div>
                                <hr class="separator">
                                <p class="feature-number__descr">Коллективные Zoom-сессии с
                                    приглашенными экспертами</p>
                            </div>
                        </div>

                        <div class="column column-3-m-w" data-aos="fade-up" data-aos-delay="800" data-aos-duration="800">
                            <div class="feature-number">
                                <div class="feature-number__shape">
                                    <span class="feature-number__value">2</span>
                                </div>
                                <hr class="separator">
                                <p class="feature-number__descr">Тестирования (чекап и итоговое
                                    тестирование)</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="page-section__header">
                <div class="container">
                    <h2 class="title-big">Чему вы научитесь</h2>
                </div>
            </div>
            <div class="page-section__body">
                <div class="container">
                    <div class="page-subsection row-desk v-row-center ">
                        <div class="column column-2 centered-desk hide-mob">
                            <div class="decor-logo">
                                <video class="video-logo__video" autoplay playsinline muted loop preload>
                                    <source src="banners/course-video-logo.mp4" />
                                </video>

                            </div>
<!--                            <div class="decor-circle">-->
<!--                                <h3 class="title-medium">Три акцента:</h3>-->
<!--                                <svg class="arrow-icon only-desk" xmlns="http://www.w3.org/2000/svg" width="124.956" height="95.098" viewBox="0 0 124.956 95.098">-->
<!--                                    <path id="Path_2" data-name="Path 2" d="M8909.187,518.266a14.991,14.991,0,0,1-7.9-2.147.818.818,0,0,0-.825,1.411,16.583,16.583,0,0,0,6.91,2.263c-12.969,1.134-25.98,2.217-39.009,1.806-12.105-.383-24.193-2.119-35.613-6.263-10.28-3.73-19.986-9.392-27.646-17.265a63.885,63.885,0,0,1-15.7-28.885,99.478,99.478,0,0,1-2.273-33.538c.123-1.371.271-2.741.438-4.108.127-1.042-1.508-1.033-1.634,0a106.357,106.357,0,0,0,1.007,34.238,68.088,68.088,0,0,0,14,30.115c7.139,8.538,16.6,14.89,26.8,19.217a107.372,107.372,0,0,0,34.49,7.812c13.76.975,27.563.012,41.28-1.159q1.519-.129,3.033-.263a10.14,10.14,0,0,1-4.526,2.748.818.818,0,0,0,.435,1.576,11.906,11.906,0,0,0,6.4-4.564.86.86,0,0,0,.58-.9c.162-.282.322-.565.459-.861A.828.828,0,0,0,8909.187,518.266Z" transform="translate(-8785.024 -430.762)" fill="#2a2a2a"></path>-->
<!--                                </svg>-->
<!--                            </div>-->

                        </div>
                        <div class="column column-2">
                            <div class="card-note">
                                <p class=" card-note__number">.01</p>
                                <p class=" card-note__descr">
                                    Самоконтроль и внутренняя дисциплина
                                </p>
                            </div>

                            <div class="card-note">
                                <p class=" card-note__number">.02</p>
                                <p class=" card-note__descr">
                                    Работа со сложными эмоциональными состояниями
                                </p>
                            </div>
                            <div class="card-note">
                                <p class=" card-note__number">.03</p>
                                <p class=" card-note__descr">
                                    Наведение порядка и ясности в собственной "картине мира"
                                </p>
                            </div>
                        </div>
                    </div>

                
                    <div class="row wrap">
                        <div class="column column-3-m" data-aos="fade-up" data-aos-delay="0" data-aos-duration="800">
                            <div class="card-info card-info-liner">
                                <p class="centered-desk card-info__title">
                                    Лучше справляться с трудными эмоциональными состояниями
                                </p>

                                <p class="centered-desk card-info__descr">
                                    Всем случается проживать страх, тревогу, подавленность, ощущение пустоты, стресс и
                                    неопределенность. Стоики разработали набор "инструментов", помогающих проходить эти
                                    состояния из более ровной и стабильной внутренней позиции. Покажем как приходить в
                                    эту позицию чаще
                                </p>
                            </div>
                        </div>

                        <div class="column column-3-m" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">
                            <div class="card-info card-info-liner">
                                <p class="centered-desk card-info__title">
                                    Примерить на себя целостное и гармоничное мировоззрение
                                </p>

                                <p class="centered-desk card-info__descr">
                                    Часто люди сталкиваются с морально-этическими трудностями, с кризисом мировоззрения.
                                    Мы рассмотрим образ мысли, правила и способы действий, которых придерживались
                                    философы-стоики, чтобы прожить достойную жизнь.
                                </p>
                            </div>
                        </div>

                        <div class="column column-3-m" data-aos="fade-up" data-aos-delay="400" data-aos-duration="800">
                            <div class="card-info card-info-liner">
                                <p class="centered-desk card-info__title">
                                    Начать строить собственную "внутреннюю цитадель"
                                </p>

                                <p class="centered-desk card-info__descr">
                                    Спокойствие, самообладание, более глубинное видение происходящего, самоконтроль -
                                    это важнейшие составляющие силы духа и внутреннего стержня человека. Рассмотрим, как
                                    можно научиться возвращаться к этому состоянию и сделать его более стабильным
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="container">
                <div class="page-section__header">
                    <h2 class="page-h2 centered-desk">Результаты</h2>
                </div>
                <div class="page-section__body">
                    <div class="row wrap">
                        <div class="column column-2-m" data-aos="zoom-in" data-aos-delay="0" data-aos-duration="800">
                            <div class="card-info card-info-check">
                                <p class="centered-desk">
                                    Вы освоите и внедрите в свою жизнь Топ5 стоических практик, позволяющих существенно
                                    увеличить собранность, жизнестойкость, стрессоустойчивость и ясность мышления
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="800">
                            <div class="card-info card-info-check">
                                <p class="centered-desk">
                                    Будут разобраны 10 кейсов, иллюстрирующих практическое применение философии стоиков
                                    для решения разного типа сложных задач (страха, горя, сомнений, вины,
                                    неопределенности, депрессии, гнева и др.)
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="800">
                            <div class="card-info card-info-check">
                                <p class="centered-desk">
                                    Вам в максимально компактном виде будут представлены основные положения философии
                                    стоиков, позволяющие понять, как работает эта "ментальная операционная система"
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m" data-aos="zoom-in" data-aos-delay="600" data-aos-duration="800">
                            <div class="card-info card-info-check">
                                <p class="centered-desk">
                                    И самое важное - будут лично ваши открытия, результаты, ощущения и эмоции. Какие?
                                    Это пока не известно. Это те бонусы (дары), которые ждут вас на этом … бесконечном
                                    пути
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section page-section-decor">
            <span class="circle"></span>
            <span class="rect"></span>
            <div class="container container-sm">
                <div class="page-section__header">
                    <h2 class="page-h2 centered-desk">Для кого этот курс</h2>
                </div>
                <div class="page-section__body">
                    <div class="page-subsection">
                        <p class="semibold">
                            Краткий ответ: для тех, кто остро ощущает потребность в чем-то более глубоком и осмысленном,
                            чем предлагают обычные сценарии современного общества.
                        </p>
                    </div>
                    <div class="page-slider page-slider--mob" data-role="slider-mob">
                        <div class="swiper-container swiper-container--mob">
                            <div class="swiper-wrapper swiper-wrapper--mob">
                                <!-- Slides -->
                                <div class="column column-2-m swiper-slide swiper-slide--mob">
                                    <div class="card-info card-info-bg">
                                        <p class="">
                                            У вас явно подходит к финалу важный жизненный этап - завершились отношения,
                                            остановилось профессиональное развитие, случилось "выгорание", выросли дети. Нужна
                                            силы для движения дальше
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Navigation -->
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev swiper-button-prev--mob"></div>
                        <div class="swiper-button-next swiper-button-prev--mob"></div>
                    </div>

                    <!-- <div class="row wrap">
                        <div class="column column-2-m">
                            <div class="card-info card-info-bg">
                                <p class="">
                                    У вас явно подходит к финалу важный жизненный этап - завершились отношения,
                                    остановилось профессиональное развитие, случилось "выгорание", выросли дети. Нужна
                                    силы для движения дальше
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m">
                            <div class="card-info card-info-bg">
                                <p class="">
                                    Вы давно интересовались философией, но именно сейчас чувствуете, что дозрели до
                                    глубокого и осознанного погружения в нее
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m">
                            <div class="card-info card-info-bg">
                                <p class="">
                                    Вы давно интересовались философией, но именно сейчас чувствуете, что дозрели до
                                    глубокого и осознанного погружения в нее
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m">
                            <div class="card-info card-info-bg">
                                <p class="">
                                    Вы уже попробовали "восточные учения" (даже буддизм и йогу), многое из
                                    “эзотерического коктейля” и обнаружили, что хочется чего-то более близкого по духу,
                                    более ясного, более европейского
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m">
                            <div class="card-info card-info-bg">
                                <p class="">
                                    У вас впечатление, что вы занимаетесь сразу многим - спортом, медитациями, медленным
                                    чтением, йогой и т.д. И хочется найти синергию между всеми этими подходами
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m">
                            <div class="card-info card-info-bg">
                                <p class="">
                                    Вам интересно исследовать еще одну дорогу, ведущую вглубь вашего внутреннего мира
                                </p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="container container-sm">
                <div class="page-section__header">
                    <h2 class="page-h2 centered-desk">Используемые инструменты</h2>
                </div>
                <div class="page-section__body">
                    <!-- <div class="page-slider" data-role="slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                
                                <div class="swiper-slide">
                                    <div class="card-info card-info-slide">
                                        <p class="">
                                            Самостоятельное изучение материала (аудиолекции + текстовые резюме лекций)
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card-info card-info-slide">
                                        <p class="">
                                            Практические задания, помогающие реально освоить стоические концепции
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card-info card-info-slide">
                                        <p class="">
                                            Практические задания, помогающие реально освоить стоические концепции
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div> -->
                
                    <div class="row wrap">
                        <div class="column column-2-m">
                            <div class="card-info card-info-bg card-info-bg--v">
                                <p class="">
                                    Самостоятельное изучение материала (аудиолекции + текстовые резюме лекций)
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m">
                            <div class="card-info card-info-bg card-info-bg--v">
                                <p class="">
                                    Практические задания, помогающие реально освоить стоические концепции
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m">
                            <div class="card-info card-info-bg card-info-bg--v">
                                <p class="">
                                    Практические задания, помогающие реально освоить стоические концепции
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="container container-sm">
                <div class="page-section__header">
                    <h2 class="page-h2 centered-desk">Авторы и ведущие курса</h2>
                </div>
                <div class="page-section__body">
                    <div class="page-slider page-slider--mob" data-role="slider-mob">
                        <div class="swiper-container swiper-container--mob">
                            <div class="swiper-wrapper swiper-wrapper--mob">
                                <!-- Slides -->
                                <div class="column column-2-m swiper-slide swiper-slide--mob"
                                data-aos="fade-right" data-aos-delay="0" data-aos-duration="800">
                                    <div class="card-author">
                                        <div class="card-author__img">
                                            <img src="./images/video-prev.png" alt="" class="img">
                                        </div>
                                        <h3 class="centered card-author__name">Иван Иванов</h3>
                                        <p class=" centered card-author__info">
                                            Инструктор курса, соведущая «Но вы держитесь». Специалист по коммуникациям (BBDO) и
                                            пользовательским исследованиям.
                                            Проходила обучение дизайн-мышлению и UX-исследованиям в Standford d.School.
                                            Живет в Беркли, США.
                                        </p>
                                    </div>
                                </div>
                                <div class="column column-2-m swiper-slide swiper-slide--mob"
                                data-aos="fade-right" data-aos-delay="0" data-aos-duration="800">
                                    <div class="card-author">
                                        <div class="card-author__img">
                                            <img src="./images/video-prev.png" alt="" class="img">
                                        </div>
                                        <h3 class="centered card-author__name">Иван Иванов</h3>
                                        <p class=" centered card-author__info">
                                            Инструктор курса, соведущая «Но вы держитесь». Специалист по коммуникациям (BBDO) и
                                            пользовательским исследованиям.
                                            Проходила обучение дизайн-мышлению и UX-исследованиям в Standford d.School.
                                            Живет в Беркли, США.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Navigation -->
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev swiper-button-prev--mob"></div>
                        <div class="swiper-button-next swiper-button-prev--mob"></div>
                    </div>
                    <!-- <div class="row wrap">
                        <div class="column column-2-m" data-aos="fade-right" data-aos-delay="0" data-aos-duration="800">
                            <div class="card-author">
                                <div class="card-author__img">
                                    <img src="./images/video-prev.png" alt="" class="img">
                                </div>
                                <h3 class="centered card-author__name">Иван Иванов</h3>
                                <p class=" centered-desk card-author__info">
                                    Инструктор курса, соведущая «Но вы держитесь». Специалист по коммуникациям (BBDO) и
                                    пользовательским исследованиям.
                                    Проходила обучение дизайн-мышлению и UX-исследованиям в Standford d.School.
                                    Живет в Беркли, США.
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
                            <div class="card-author">
                                <div class="card-author__img">
                                    <img src="./images/video-prev.png" alt="" class="img">
                                </div>
                                <h3 class="centered card-author__name">Иван Иванов</h3>
                                <p class=" centered-desk card-author__info">
                                    Инструктор курса, соведущая «Но вы держитесь». Специалист по коммуникациям (BBDO) и
                                    пользовательским исследованиям.
                                    Проходила обучение дизайн-мышлению и UX-исследованиям в Standford d.School.
                                    Живет в Беркли, США.
                                </p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="page-section__header">
                <h2 class="page-h2 centered-desk">Чему вы научитесь</h2>
            </div>
            <div class="page-section__body">
                <div class="container">
                    <div class="row wrap">
                        <div class="column column-3-m-w-20" data-aos="zoom-in-down" data-aos-delay="0" data-aos-duration="800">
                            <div class="card-info card-info-fill">
                                <p class=" card-info__title">
                                    Освоение теории
                                </p>

                                <p class=" card-info__descr">
                                    Весь теоретический материал (в текстовом и аудио-форматах) тщательно выверен и записан заранее. Его вы будете изучать самостоятельно по мере прохождения курса. Доступ к материалу не ограничен длительностью курса.
                                </p>
                            </div>
                        </div>

                        <div class="column column-3-m-w-20" data-aos="zoom-in-down" data-aos-delay="200" data-aos-duration="800">
                            <div class="card-info card-info-fill">
                                <p class=" card-info__title">
                                    Поддержка экспертов
                                </p>

                                <p class=" card-info__descr">
                                    На каждый курс мы приглашаем специальных гостей - людей, достигших выдающихся результатов в своей области. Это всегда эксперты-практики - ведущие предприниматели, ученые, спортсмены, каждый из которых в режиме “живой” онлайн-сессии поделятся с вами своим опытом и ответит на вопросы.
                                </p>
                            </div>
                        </div>

                        <div class="column column-3-m-w-20" data-aos="zoom-in-down" data-aos-delay="400" data-aos-duration="800">
                            <div class="card-info card-info-fill">
                                <p class=" card-info__title">
                                    Освоение практик
                                </p>

                                <p class=" card-info__descr">
                                    Изучение и применение в жизни конкретных практик - главная часть обучения. Это основной ye способ перепроектирования ваших привычек, компетенций и состояний. Хотите результатов - делайте предлагаемые практические задания и обязательно делитесь результатами. У каждого задания будет свой дедлайн. Если вы не выполните более 2-х заданий в обозначенные сроки, мы оставляем за собой право отчислить вас с курса без возвращения платы за обучение.
                                </p>
                            </div>
                        </div>

                        <div class="column column-3-m-w-20" data-aos="zoom-in-down" data-aos-delay="600" data-aos-duration="800">
                            <div class="card-info card-info-fill">
                                <p class=" card-info__title">
                                    Поддержка группы
                                </p>

                                <p class=" card-info__descr">
                                    Обратная связь от сокурсников (особенно участников вашей когорты) в виде комментариев в чате, вопросов и живых дискуссий в Zoom - это способ удержаться в практике, дать и получить поддержку, увидеть более широкий спектр мнений.
                                </p>
                            </div>
                        </div>

                        <div class="column column-3-m-w-20" data-aos="zoom-in-down" data-aos-delay="800" data-aos-duration="800">
                            <div class="card-info card-info-fill">
                                <p class=" card-info__title">
                                    Изменения в питании и образе жизни
                                </p>

                                <p class=" card-info__descr">
                                    Курс построен на очень глубоком знании того, как работают тело и мозг человека. Здесь мы опираемся на самые передовые научные открытия. Поэтому мы предложим вам определенные рекомендации по изменению питания и образа жизни, направленные на усиление ваших когнитивных способностей, стрессоустойчивости и уровня энергии. Эти рекомендации не являются обязательными, но мы крайне рекомендуем вам их придерживаться. 
                                </p>
                            </div>
                        </div>

                        <div class="column column-3-m-w-20" data-aos="zoom-in-down" data-aos-delay="1000" data-aos-duration="800">
                            <div class="card-info card-info-fill">
                                <p class=" card-info__title">
                                    Поддержка кураторов и авторов курса
                                </p>

                                <p class=" card-info__descr">
                                    Создатели курса и команда поддержки помогут глубже разобраться в наиболее сложных вопросах и быть на нужной “волне”.
                                </p>
                            </div>
                        </div>

                        <div class="column column-3-m-w-20" data-aos="zoom-in-down" data-aos-delay="0" data-aos-duration="800">
                            <div class="card-info card-info-fill">
                                <p class=" card-info__title">
                                    Поддержка бота
                                </p>

                                <p class=" card-info__descr">
                                    Всегда на связи будет наш проверенный Telegram-бот, который поможет с коммуникацией.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="container container-sm">
                <div class="page-section__header">
                    <h2 class="page-h2 centered-desk">Структура курса</h2>
                </div>
                <div class="page-section__body">
                    <div class="faq-card" data-aos="fade-in" data-aos-delay="0" data-aos-duration="800">
                        <div class="faq-card__qst faq-card__qst--no-border">
                            <h3 class="faq-card__title">Этап I. Подготовка (не входит в 14 дней марафона)</h3>
                        </div>

                        <div class="faq-card__asw">
                            <ul class="list">
                                <li class="list__item">
                                    Заполнение анкеты и (при необходимости) собеседование с куратором
                                </li>
                                <li class="list__item">
                                    Рекомендации по теоретической подготовке к курсу
                                </li>
                                <li class="list__item">
                                    Рекомендации по изменению в питании и образе жизни на период курса
                                </li>
                                <li class="list__item">
                                    Подключение к инфраструктуре
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="faq-card" data-aos="fade-in" data-aos-delay="200" data-aos-duration="800">
                        <div class="faq-card__qst faq-card__qst--no-border">
                            <h3 class="faq-card__title">Этап II. Погружение (14 дней)</h3>
                        </div>

                        <div class="faq-card__asw">
                            <ul class="list">
                                <li class="list__item">
                                    Заполнение анкеты и (при необходимости) собеседование с куратором
                                </li>
                                <li class="list__item">
                                    Рекомендации по теоретической подготовке к курсу
                                </li>
                                <li class="list__item">
                                    Рекомендации по изменению в питании и образе жизни на период курса
                                </li>
                                <li class="list__item">
                                    Подключение к инфраструктуре
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="faq-card" data-aos="fade-in" data-aos-delay="400" data-aos-duration="800">
                        <div class="faq-card__qst faq-card__qst--no-border">
                            <h3 class="faq-card__title">Этап III. Подведение итогов, интеграция</h3>
                        </div>

                        <div class="faq-card__asw">
                            <ul class="list">
                                <li class="list__item">
                                    Заполнение анкеты и (при необходимости) собеседование с куратором
                                </li>
                                <li class="list__item">
                                    Рекомендации по теоретической подготовке к курсу
                                </li>
                                <li class="list__item">
                                    Рекомендации по изменению в питании и образе жизни на период курса
                                </li>
                                <li class="list__item">
                                    Подключение к инфраструктуре
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="page-section">
            <div class="page-section__header">
                <h2 class="page-h2 centered-desk">Отзывы</h2>
            </div>
            <div class="page-section__body">
                <div class="container">
                    <div class="page-slider page-slider--mob" data-role="slider-mob">
                        <div class="swiper-container swiper-container--mob">
                            <div class="swiper-wrapper swiper-wrapper--mob hidden-qty-3" data-show-full="target">
                                <!-- Slides -->
                                <div class="column column-3-m-w swiper-slide swiper-slide--mob">
                                    <div class="card-review">
                                        <p class=" card-review__descr">
                                            С точки зрения предпринимательства — это ключевая фича. Это одна из самых фундаментальных технологий, которую стоит изучить.
                                        </p>
                                        <div class="card-review__footer">
                                            <div class="card-review__img">
                                                <img src="./images/video-prev.png" alt="" class="img">
                                            </div>
                                            <h3 class="centered-desk card-review__name">Имя</h3>
                                            <div class="card-review__rat">
                                                <img src="./images/fake-rat.svg" alt="" class="img">
                                            </div>
                                            <p class="centered-desk card-review__place">Город</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- Navigation -->
                            <button class="btn-more" data-show-full="control" data-name-default="ПОКАЗАТЬ ЕЩЕ" data-name-active="Скрыть">ПОКАЗАТЬ ЕЩЕ</button>
                        </div>
                        <!-- Navigation -->
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev swiper-button-prev--mob"></div>
                        <div class="swiper-button-next swiper-button-prev--mob"></div>
                    </div>

                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="container container-sm">
                <div class="page-section__header">
                    <h2 class="page-h2 centered-desk">Частые вопросы и ответы
                    </h2>
                </div>
                <div class="page-section__body">
                    <div class="faq-card" data-aos="fade-up" data-aos-delay="0" data-aos-duration="800">
                        <div class="faq-card__qst" data-collapse="control">
                            <h4 class="faq-card__title">Боюсь, у меня будет постоянно не хватать времени. Как быть?</h4>
                        </div>

                        <div class="faq-card__asw"  data-collapse="target">
                            <p class="">
                                Мы понимаем - маловероятно, что у вас получится выделять очень много времени на
                                взаимодействие с сообществом, на вникание в материалам и даже на практику. Понимаем,
                                потому что и сами ровно такие же - слушаем подкасты в тренажерном зале или гуляя с
                                собакой, читаем сразу несколько книг (и часто дочитываем), стараемся находить слоты
                                времени “для себя” в сверхплотном расписании. Понимаем эти реальности и поэтому мы не
                                снимаем 2-х часовые видео и не предлагаем изучать многостраничные pdf-документы. Но мы
                                хотим сохранить глубину.
                            </p>
                        </div>
                    </div>

                    <div class="faq-card" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">
                        <div class="faq-card__qst" data-collapse="control">
                            <h4 class="faq-card__title">Почему важна работа в сообществе?
                            </h4>
                        </div>

                        <div class="faq-card__asw"  data-collapse="target">
                            <p class="">
                                Мы понимаем - маловероятно, что у вас получится выделять очень много времени на
                                взаимодействие с сообществом, на вникание в материалам и даже на практику. Понимаем,
                                потому что и сами ровно такие же - слушаем подкасты в тренажерном зале или гуляя с
                                собакой, читаем сразу несколько книг (и часто дочитываем), стараемся находить слоты
                                времени “для себя” в сверхплотном расписании. Понимаем эти реальности и поэтому мы не
                                снимаем 2-х часовые видео и не предлагаем изучать многостраничные pdf-документы. Но мы
                                хотим сохранить глубину.
                            </p>
                        </div>
                    </div>

                    <div class="faq-card" data-aos="fade-up" data-aos-delay="400" data-aos-duration="800">
                        <div class="faq-card__qst" data-collapse="control">
                            <h4 class="faq-card__title">Чем для вас является проект StoicSpace?</h4>
                        </div>

                        <div class="faq-card__asw"  data-collapse="target">
                            <p class="">
                                Мы понимаем - маловероятно, что у вас получится выделять очень много времени на
                                взаимодействие с сообществом, на вникание в материалам и даже на практику. Понимаем,
                                потому что и сами ровно такие же - слушаем подкасты в тренажерном зале или гуляя с
                                собакой, читаем сразу несколько книг (и часто дочитываем), стараемся находить слоты
                                времени “для себя” в сверхплотном расписании. Понимаем эти реальности и поэтому мы не
                                снимаем 2-х часовые видео и не предлагаем изучать многостраничные pdf-документы. Но мы
                                хотим сохранить глубину.
                            </p>
                        </div>
                    </div>

                    <div class="faq-card" data-aos="fade-up" data-aos-delay="600" data-aos-duration="800">
                        <div class="faq-card__qst" data-collapse="control">
                            <h4 class="faq-card__title">В чем особенность именно вашего подхода к обучению?</h4>
                        </div>

                        <div class="faq-card__asw"  data-collapse="target">
                            <p class="">
                                Мы понимаем - маловероятно, что у вас получится выделять очень много времени на
                                взаимодействие с сообществом, на вникание в материалам и даже на практику. Понимаем,
                                потому что и сами ровно такие же - слушаем подкасты в тренажерном зале или гуляя с
                                собакой, читаем сразу несколько книг (и часто дочитываем), стараемся находить слоты
                                времени “для себя” в сверхплотном расписании. Понимаем эти реальности и поэтому мы не
                                снимаем 2-х часовые видео и не предлагаем изучать многостраничные pdf-документы. Но мы
                                хотим сохранить глубину.
                            </p>
                        </div>
                    </div>

                    <div class="faq-card" data-aos="fade-up" data-aos-delay="800" data-aos-duration="800">
                        <div class="faq-card__qst" data-collapse="control">
                            <h4 class="faq-card__title">Как вы, в целом, видите механику эволюции человека?</h4>
                        </div>

                        <div class="faq-card__asw"  data-collapse="target">
                            <p class="">
                                Мы понимаем - маловероятно, что у вас получится выделять очень много времени на
                                взаимодействие с сообществом, на вникание в материалам и даже на практику. Понимаем,
                                потому что и сами ровно такие же - слушаем подкасты в тренажерном зале или гуляя с
                                собакой, читаем сразу несколько книг (и часто дочитываем), стараемся находить слоты
                                времени “для себя” в сверхплотном расписании. Понимаем эти реальности и поэтому мы не
                                снимаем 2-х часовые видео и не предлагаем изучать многостраничные pdf-документы. Но мы
                                хотим сохранить глубину.
                            </p>
                        </div>
                    </div>

                    <div class="faq-card" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="800">
                        <div class="faq-card__qst" data-collapse="control">
                            <h4 class="faq-card__title">Кстати, а что такое стоицизм?</h4>
                        </div>

                        <div class="faq-card__asw"  data-collapse="target">
                            <p class="">
                                Мы понимаем - маловероятно, что у вас получится выделять очень много времени на
                                взаимодействие с сообществом, на вникание в материалам и даже на практику. Понимаем,
                                потому что и сами ровно такие же - слушаем подкасты в тренажерном зале или гуляя с
                                собакой, читаем сразу несколько книг (и часто дочитываем), стараемся находить слоты
                                времени “для себя” в сверхплотном расписании. Понимаем эти реальности и поэтому мы не
                                снимаем 2-х часовые видео и не предлагаем изучать многостраничные pdf-документы. Но мы
                                хотим сохранить глубину.
                            </p>
                        </div>
                    </div>

                    <p class=" page-subsection__mark">Остались вопросы? Напишите нам в <a href="#">телеграмме</a></p>
                </div>
            </div>

        </section>

        <section class="page-section">
            <div class="container container-sm">
                <div class="page-section__header">
                    <h2 class="page-h2 centered">Для представителей "старой" школы</h2>
                </div>
                <div class="page-section__body">
                    <form action="" class="callback-form">
                        <label class="callback-form__field-group">
                            <span class="callback-form__field-name">ФИО</span>
                            <input type="text" autocomplete="off" class="callback-form__field" name="user-fio"
                                placeholder="">
                        </label>
                        <label class="callback-form__field-group">
                            <span class="callback-form__field-name">E-mail</span>
                            <input type="text" autocomplete="off" class="callback-form__field" name="user-email"
                                placeholder="">
                        </label>
                        <label class="callback-form__field-group">
                            <span class="callback-form__field-name">Сообщение</span>
                            <textarea class="callback-form__field callback-form__field--message" name="user-message"></textarea>
                        </label>

                        <label class="callback-form__field-group callback-form__field-group--row callback-form__field-group--mxb">
                            <input type="checkbox" class="callback-form__checkbox" checked readonly>
                            <span class="callback-form__checkbox-custom"></span>
                            <span class="callback-form__field-name">Я согласен с условиями обработки <a href="#">персональных данных</a></span>
                        </label>
                        <input type="submit" class="callback-form__btn" value="Отправить">
                    </form>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="container container-sm">
                <div class="page-section__header">
                    <h2 class="page-h2 centered">Пишите нам в ТG</h2>
                </div>
                <div class="page-section__body centered">
                    <a href="index.html" target="_blank" class="callback-icon-tg"></a>
                    <span class="rect"></span>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="container">
                <div class="banner" style="display: flex; justify-content: center; align-items: center; border: 4px solid #6861A5; color:#6861A5">
                    баннер
                </div>
            </div>
        </section>

    </main>

    <footer class="page-footer">
        <div class="container centered">
            <nav class="page-nav page-footer__nav">
                <a href="index.html" class="page-nav__link">Сообщество</a>
                <a href="index.html" class="page-nav__link">Учебный курс</a>
                <a href="index.html" class="page-nav__link">Корп. клиентам</a>
                <a href="index.html" class="page-nav__link">О проекте</a>
            </nav>
            <nav class="page-nav page-footer__nav">
                <a href="index.html" class="page-nav__link">Оферта</a>
                <a href="index.html" class="page-nav__link">Пользовательское соглашение </a>
            </nav>
            <div class="socials">
                <a href="index.html" target="_blank" class="socials__item socials__item--tg"></a>
                <a href="index.html" target="_blank" class="socials__item socials__item--inst"></a>
                <a href="index.html" target="_blank" class="socials__item socials__item--yt"></a>
            </div>
            <a href="https://redstar.agency/" target="_blank" class="redstar">Разработка и техподдержка проекта - <span>Redstar Agency</span></a>
        </div>
    </footer>


    <script src="js/manifest.js"></script>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>