<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STOIC SPACE</title>
    <link href="fonts/stapel/stylesheet.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="page-news">
        <div class="container centered row v-row-center h-row-center wrap-mob page-news__inner">
            <a href="#" class="page-news__link">Обо всех открытых мероприятиях сообщества мы рассказываем в
                Telegram-канале StoicStrategy 
            </a> 
            <span class="page-news__icon"></span>
        </div>
    </div>

    <header class="page-header">
        <div class="container row h-row-between wrap-mob page-header__inner">
            <a href="index.html" class="page-header__logo">ΔELTA</a>

            <button class="page-header__dropdown-btn"
                data-show-nav="trigger">
                <span></span>
            </button>

            <nav class="page-nav page-nav-main" data-show-nav="control">
                <div class="container centered page-nav__inner">
                    <a href="index.html" class="page-nav__link active">Сообщество</a>
                    <a href="course.html" class="page-nav__link">Учебный курс</a>
                    <a href="index.html" class="page-nav__link">Корп. клиентам</a>
                    <a href="index.html" class="page-nav__link">О проекте</a>
                </div>
            </nav>

            <a href="index.html" class="page-header__btn">Стать резидентом</a>
        </div>
    </header>

        <!-- <main class="scroll-wrapper"></main> -->
        <main class="">
        <!-- <nav class="page-nav page-nav-main">
            <div class="container centered page-nav__inner">
                <a href="index.html" class="page-nav__link active">Сообщество</a>
                <a href="course.html" class="page-nav__link">Учебный курс</a>
                <a href="index.html" class="page-nav__link">Корп. клиентам</a>
                <a href="index.html" class="page-nav__link">О проекте</a>
            </div>
        </nav> -->

        <section class="page-section">
            <div class="container">
                <div class="banner" style="display: flex; justify-content: center; align-items: center; background-color: #000; color:#fff">
                    баннер
                </div>
            </div>
        </section>

        <section class="page-section page-intro">
            <div class="container container-sm">
                <div class="page-section__header">
                    <h1 class="page-h1 centered-desk">Сообщество StoicSpace</h1>
                </div>
                <div class="page-section__body">
                    <p class="">StoicSpace - это платформа для практики, экспериментов и обмена опытом.</p>
                    <p class="">Мы вместе разрабатываем специальные инструменты и технологии, позволяющие глубоко
                        изучить и интегрировать основные положения стоицизма в повседневную жизнь.</p>
                    <p class="">StoicSpace - это не инструмент передачи контента. Его безграничное количество и
                        без
                        нас. StoicSpace - это платформа для трансформации мировоззрения (перестройки алгоритмов мышления
                        и
                        действия).</p>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="container container-sm">
                <div class="page-section__header">
                    <h2 class="page-h2 centered-desk">Что такое стоицизм?</h2>
                </div>
                <div class="page-section__body">
                    <div class="row-desk h-row-between">
                        <p class="">Стоицизм - прикладная философия или ментальный фреймворк, позволяющий
                            “перепрошить ум” и выстроить более ясную, комплексную, объемную картину мира. Стоицизм часто
                            называют “философией трудных времен”. На базе стоических идей построена концепция
                            антихрупкости Насима Талеба и логотерапия Виктора Франкла.</p>
                        <p class=" card-note-sm"><b>Цель стоической практики:</b> усиление разума, эволюция
                            сознания для обретения устойчивой способности жизнь в согласии с самим собой и природой.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section page-section-black">
            <div class="container container-sm">
                <div class="page-section__header">
                    <h2 class="page-h2 centered-desk">Что дает стоицизм?</h2>
                </div>
                <div class="page-section__body">
                    <div class="page-subsection">
                        <div class="page-slider" data-role="slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <div class="swiper-slide">
                                        <div class="quote">
                                            <p class=" quote__desr">
                                                С точки зрения предпринимательства — это ключевая фича. Это одна из
                                                самых фундаментальных технологий, которую стоит изучить.
                                            </p>
                                            <p class=" quote__author">
                                                ИТ-предприниматель,<br>
                                                2х Ironman
                                            </p>
                                        </div>

                                    </div>
                                    <div class="swiper-slide">
                                        <div class="quote">
                                            <p class=" quote__desr">
                                                Главный результат — это более спокойное отношение к происходящему и
                                                больший оптимизм. Этих двух пунктов вполне достаточно.
                                            </p>
                                            <p class=" quote__author">
                                                Издатель,<br>
                                                гл. редактор интернет-медиа
                                            </p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="quote">
                                            <p class=" quote__desr">
                                                Главный результат — это более спокойное отношение к происходящему и
                                                больший оптимизм. Этих двух пунктов вполне достаточно.
                                            </p>
                                            <p class=" quote__author">
                                                Издатель,<br>
                                                гл. редактор интернет-медиа
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Navigation -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <p class="">Сообщество Modern Stoicism ежегодно проводит глобальное мероприятие Stoic Week.
                        Участники третьей Стоической недели сообщили о 9 %-ном росте положительных эмоций, 11 %-ном
                        снижении негативных эмоций и 14 %-ном повышении удовлетворенности жизнью всего после одной
                        недели практики. 56 % участников также считают, что стоицизм делает их более добродетельными.
                    </p>

                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="container container-sm">
                <div class="page-section__header">
                    <h2 class="page-h2 centered-desk">В чем особенность сообщества StoicSpace?
                    </h2>
                </div>
                <div class="page-section__body">
                    <div class="row wrap">
                        <div class="column column-2-m">
                            <div class="feature">
                                <p class="">
                                    <b>Современный контекст:</b> нас больше интересует практическое применение философии
                                    стоиков сегодня и в будущем, а не только исторические изыскания
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m">
                            <div class="feature">
                                <p class="">
                                    <b>Современный контекст:</b> нас больше интересует практическое применение философии
                                    стоиков сегодня и в будущем, а не только исторические изыскания
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m">
                            <div class="feature">
                                <p class="">
                                    <b>Современный контекст:</b> нас больше интересует практическое применение философии
                                    стоиков сегодня и в будущем, а не только исторические изыскания
                                </p>
                            </div>
                        </div>
                        <div class="column column-2-m">
                            <div class="feature">
                                <p class="">
                                    <b>Современный контекст:</b> нас больше интересует практическое применение философии
                                    стоиков сегодня и в будущем, а не только исторические изыскания
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="container container-sm">
                <div class="page-section__header">
                    <h2 class="page-h2 centered-desk">Что получает резидент платформы</h2>
                </div>
                <div class="page-section__body">
                    <div class="page-subsection">
                        <h3 class="page-h3 centered-desk">Польза для резидента</h3>
                        <div class="row wrap">
                            <div class="column column-2-m">
                                <ul class="">
                                    <li class="">
                                        Доступ к ежемесячному 14-дневному базовому курсу StoicDiscovery
                                    </li>
                                    <li class="">
                                        Участие в 2-х Zoom-сессиях в месяц в формате AMA (Ask Me Anything) с
                                        организаторами и гостями платформы
                                    </li>
                                    <li class="">
                                        Доступ к закрытому сообществу практиков в Telegram-канале
                                    </li>
                                    <li class="">
                                        Доступ к библиотеке полезных материалов StoicSpace
                                    </li>
                                </ul>
                            </div>
                            <div class="column column-2-m">
                                <ul class="">
                                    <li class="">
                                        Доступ в Книжный клуб (выбираем, читаем и обсуждаем одну книгу в месяц, собираем
                                        Золотую коллекцию книг StoicSpace)
                                    </li>
                                    <li class="">
                                        Участие в 2-х Zoom-сессиях в месяц по разбору кейсов о применении стоических
                                        практик
                                    </li>
                                    <li class="">
                                        Доступ к библиотеке с записями предыдущих встреч
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="page-subsection page-subsection-border">
                        <figure class="image-card">
                            <div class="row-desk">
                                <figcaption class=" image-card__descr">
                                    Сообщество Modern Stoicism ежегодно проводит глобальное мероприятие Stoic Week.
                                    Участники третьей Стоической недели сообщили о 9 %-ном росте положительных эмоций,
                                    11 %-ном снижении негативных эмоций и 14 %-ном повышении удовлетворенности жизнью
                                    всего после одной недели практики. 56 % участников также считают, что стоицизм
                                    делает их более добродетельными. Сообщество Modern Stoicism ежегодно проводит
                                    глобальное мероприятие Stoic Week.
                                </figcaption>
                                <img src="./images/video-prev.png" alt="" class="img image-card__img">
                            </div>
                        </figure>
                    </div>

                    <div class="page-subsection">
                        <h3 class="page-h3 centered-desk">Возможность проявить свою экспертизу</h3>
                        <p class="">StoicSpace - это еще и возможность для каждого резидента проявить свою
                            экспертизу, предложить свои идеи и поделиться своими инсайтами. Мы максимально открыты для
                            обмена опытом и обсуждения того, что актуально для вас в данный момент.</p>
                    </div>

                    <div class="page-subsection">
                        <h3 class="page-h3 centered-desk">Планируем внедрить на горизонте 6 месяцев</h3>
                        <ul class="">
                            <li class="">
                                Совместные Философские путешествия по интересным местам планеты
                            </li>
                            <li class="">
                                Живые оффлайн-встречи для резидентов сообщества
                            </li>
                        </ul>
                    </div>

                    <div class="page-subsection">
                        <div class="page-slider" data-role="slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <div class="swiper-slide">
                                        <a data-fslightbox href="https://www.youtube.com/watch?v=ZH30SgTz2wU&t=8s">
                                            <div class="video">
                                                <img class="img video__img" src="./images/video-prev.png" alt="">
                                                <span class="video__open i-video"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a data-fslightbox href="https://www.youtube.com/watch?v=ZH30SgTz2wU&t=8s">
                                            <div class="video">
                                                <img class="img video__img" src="./images/video-prev.png" alt="">
                                                <span class="video__open i-video"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a data-fslightbox href="https://www.youtube.com/watch?v=ZH30SgTz2wU&t=8s">
                                            <div class="video">
                                                <img class="img video__img" src="./images/video-prev.png" alt="">
                                                <span class="video__open i-video"></span>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!-- Navigation -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                        <a href="index.html" class="page-subsection__link">Смотреть все</a>
                    </div>

                    <div class="page-subsection">
                        <h3 class="page-h3 centered-desk">Специальные предложения</h3>
                        <figure class="image-card image-card-2">
                            <div class="row-desk v-row-center">
                                <figcaption class=" image-card__descr">
                                    Сообщество Modern Stoicism ежегодно проводит глобальное мероприятие Stoic Week.
                                    Участники третьей Стоической недели сообщили о 9 %-ном росте положительных эмоций,
                                    11 %-ном снижении негативных эмоций и 14 %-ном повышении удовлетворенности жизнью
                                    всего после одной недели практики. 56 % участников также считают, что стоицизм
                                    делает их более добродетельными. Сообщество Modern Stoicism ежегодно проводит
                                    глобальное мероприятие Stoic Week.
                                </figcaption>
                                <img src="./images/video-prev.png" alt="" class="img image-card__img">
                            </div>
                        </figure>
                    </div>

                    <div class="page-subsection">
                        <h3 class="page-h3 centered-desk">Тарифы</h3>
                        <!-- <div class="row wrap h-row-center v-row-centere"> -->
                        <div class="row wrap h-row-center tarifs-w-sale">
                            <div class="column column-3-m">
                                <div class="tarif">
                                    <div class="tarif__header">
                                        <h3 class="centered tarif__title">При оплате за месяц</h3>
                                        <div class="tarif__price">4 900 руб.</div>
                                        <div class="tarif__price tarif__price--old">5 900 руб.</div>
                                        <p class="tarif__sale-desr">Действует до 1 февраля</p>
                                    </div>
                                    <div class="tarif__body">
                                        <p class="tarif__descr">Напарник</p>
                                        <p class="tarif__descr">Доступ к активному сообществу выпускников (после
                                            прохождения курса) — для практики и продолжения развития</p>
                                        <p class="tarif__label">Рекомендуем</p>
                                    </div>
                                    <a href="#" class="tarif__btn">Стать резидентом</a>
                                </div>
                            </div>


                            <div class="column column-3-m">
                                <div class="tarif tarif-rec">
                                    <div class="tarif__header">
                                        <h3 class="centered tarif__title">При оплате за 3 месяца</h3>
                                        <div class="tarif__price">10 900 руб.</div>
                                        <div class="tarif__price tarif__price--old">12 900 руб.</div>
                                        <p class="tarif__sale-desr">Действует до 1 февраля</p>
                                    </div>
                                    <div class="tarif__body">
                                        <p class="tarif__descr">Напарник</p>
                                        <p class="tarif__descr">Доступ к активному сообществу выпускников (после
                                            прохождения курса) — для практики и продолжения развития</p>
                                        <p class="tarif__descr tarif__descr--bold">1 персональная коучинговая сессия со
                                            Светой или Алексеем</p>
                                        <p class="tarif__label">Рекомендуем</p>
                                    </div>
                                    <a href="#" class="tarif__btn">Стать резидентом</a>
                                </div>
                            </div>
                            <div class="column column-3-m">
                                <div class="tarif">
                                    <div class="tarif__header">
                                        <h3 class="centered tarif__title">Для команд</h3>
                                        <div class="tarif__price">4 900 руб.</div>
                                        <div class="tarif__price tarif__price--old">5 900 руб.</div>
                                        <p class="tarif__sale-desr">Действует до 1 февраля</p>
                                    </div>
                                    <div class="tarif__body">
                                        <p class="tarif__descr">Напарник</p>
                                        <p class="tarif__descr">Доступ к активному сообществу выпускников (после
                                            прохождения курса) — для практики и продолжения развития</p>
                                        <p class="tarif__descr tarif__descr--bold">1 персональная коучинговая сессия со
                                            Светой или Алексеем</p>
                                        <p class="tarif__label">Рекомендуем</p>
                                    </div>
                                    <a href="#" class="tarif__btn">Стать резидентом</a>
                                </div>
                            </div>
                        </div>
                        <p class=" page-subsection__mark">По запросу мы можем обсудить дополнительные платные
                            опции.</p>
                    </div>

                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="container container-sm">
                <div class="page-section__header">
                    <h2 class="page-h2 centered-desk">Частые вопросы и ответы
                    </h2>
                </div>
                <div class="page-section__body">
                    <div class="faq-card">
                        <div class="faq-card__qst" data-collapse="control">
                            <h3 class="faq-card__title">Боюсь, у меня будет постоянно не хватать времени. Как быть?</h3>
                        </div>

                        <div class="faq-card__asw" style="display: none" data-collapse="target">
                            <p class="">
                                Мы понимаем - маловероятно, что у вас получится выделять очень много времени на
                                взаимодействие с сообществом, на вникание в материалам и даже на практику. Понимаем,
                                потому что и сами ровно такие же - слушаем подкасты в тренажерном зале или гуляя с
                                собакой, читаем сразу несколько книг (и часто дочитываем), стараемся находить слоты
                                времени “для себя” в сверхплотном расписании. Понимаем эти реальности и поэтому мы не
                                снимаем 2-х часовые видео и не предлагаем изучать многостраничные pdf-документы. Но мы
                                хотим сохранить глубину.
                            </p>
                        </div>
                    </div>

                    <div class="faq-card">
                        <div class="faq-card__qst" data-collapse="control">
                            <h3 class="faq-card__title">Почему важна работа в сообществе?
                            </h3>
                        </div>

                        <div class="faq-card__asw" style="display: none" data-collapse="target">
                            <p class="">
                                Мы понимаем - маловероятно, что у вас получится выделять очень много времени на
                                взаимодействие с сообществом, на вникание в материалам и даже на практику. Понимаем,
                                потому что и сами ровно такие же - слушаем подкасты в тренажерном зале или гуляя с
                                собакой, читаем сразу несколько книг (и часто дочитываем), стараемся находить слоты
                                времени “для себя” в сверхплотном расписании. Понимаем эти реальности и поэтому мы не
                                снимаем 2-х часовые видео и не предлагаем изучать многостраничные pdf-документы. Но мы
                                хотим сохранить глубину.
                            </p>
                        </div>
                    </div>

                    <div class="faq-card">
                        <div class="faq-card__qst" data-collapse="control">
                            <h3 class="faq-card__title">Чем для вас является проект StoicSpace?</h3>
                        </div>

                        <div class="faq-card__asw" style="display: none" data-collapse="target">
                            <p class="">
                                Мы понимаем - маловероятно, что у вас получится выделять очень много времени на
                                взаимодействие с сообществом, на вникание в материалам и даже на практику. Понимаем,
                                потому что и сами ровно такие же - слушаем подкасты в тренажерном зале или гуляя с
                                собакой, читаем сразу несколько книг (и часто дочитываем), стараемся находить слоты
                                времени “для себя” в сверхплотном расписании. Понимаем эти реальности и поэтому мы не
                                снимаем 2-х часовые видео и не предлагаем изучать многостраничные pdf-документы. Но мы
                                хотим сохранить глубину.
                            </p>
                        </div>
                    </div>

                    <div class="faq-card">
                        <div class="faq-card__qst" data-collapse="control">
                            <h3 class="faq-card__title">В чем особенность именно вашего подхода к обучению?</h3>
                        </div>

                        <div class="faq-card__asw" style="display: none" data-collapse="target">
                            <p class="">
                                Мы понимаем - маловероятно, что у вас получится выделять очень много времени на
                                взаимодействие с сообществом, на вникание в материалам и даже на практику. Понимаем,
                                потому что и сами ровно такие же - слушаем подкасты в тренажерном зале или гуляя с
                                собакой, читаем сразу несколько книг (и часто дочитываем), стараемся находить слоты
                                времени “для себя” в сверхплотном расписании. Понимаем эти реальности и поэтому мы не
                                снимаем 2-х часовые видео и не предлагаем изучать многостраничные pdf-документы. Но мы
                                хотим сохранить глубину.
                            </p>
                        </div>
                    </div>

                    <div class="faq-card">
                        <div class="faq-card__qst" data-collapse="control">
                            <h3 class="faq-card__title">Как вы, в целом, видите механику эволюции человека?</h3>
                        </div>

                        <div class="faq-card__asw" style="display: none" data-collapse="target">
                            <p class="">
                                Мы понимаем - маловероятно, что у вас получится выделять очень много времени на
                                взаимодействие с сообществом, на вникание в материалам и даже на практику. Понимаем,
                                потому что и сами ровно такие же - слушаем подкасты в тренажерном зале или гуляя с
                                собакой, читаем сразу несколько книг (и часто дочитываем), стараемся находить слоты
                                времени “для себя” в сверхплотном расписании. Понимаем эти реальности и поэтому мы не
                                снимаем 2-х часовые видео и не предлагаем изучать многостраничные pdf-документы. Но мы
                                хотим сохранить глубину.
                            </p>
                        </div>
                    </div>

                    <div class="faq-card">
                        <div class="faq-card__qst" data-collapse="control">
                            <h3 class="faq-card__title">Кстати, а что такое стоицизм?</h3>
                        </div>

                        <div class="faq-card__asw" style="display: none" data-collapse="target">
                            <p class="">
                                Мы понимаем - маловероятно, что у вас получится выделять очень много времени на
                                взаимодействие с сообществом, на вникание в материалам и даже на практику. Понимаем,
                                потому что и сами ровно такие же - слушаем подкасты в тренажерном зале или гуляя с
                                собакой, читаем сразу несколько книг (и часто дочитываем), стараемся находить слоты
                                времени “для себя” в сверхплотном расписании. Понимаем эти реальности и поэтому мы не
                                снимаем 2-х часовые видео и не предлагаем изучать многостраничные pdf-документы. Но мы
                                хотим сохранить глубину.
                            </p>
                        </div>
                    </div>

                    <p class=" page-subsection__mark">Остались вопросы? Напишите нам в телеграмме</p>
                </div>
            </div>

        </section>

        <section class="page-section">
            <div class="container container-sm row-desk h-row-between">
                <div class="page-section__col page-section__col--form">
                    <div class="page-section__header">
                        <h2 class="page-h2">Для представителей "старой" школы</h2>
                    </div>
                    <div class="page-section__body">
                        <form action="" class="callback-form">
                            <label class="callback-form__field-group">
                                <span class="callback-form__field-name">E-mail</span>
                                <input type="text" autocomplete="off" class="callback-form__field" name="user-email"
                                    placeholder="Ваш Email">
                            </label>

                            <input type="submit" class="callback-form__btn" value="Отправить">
                        </form>
                    </div>
                </div>

                <div class="page-section__col page-section__col--tg">
                    <div class="page-section__header">
                        <h2 class="page-h2 centered-desk">Пишите нам в ТG</h2>
                    </div>
                    <div class="page-section__body">
                        icon
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section">
            <div class="container">
                <div class="banner" style="display: flex; justify-content: center; align-items: center; background-color: #000; color:#fff">
                    баннер
                </div>
            </div>
        </section>

        
    </main>

    <footer class="page-footer">
        <div class="container">
            <nav class="page-nav page-footer__nav">
                <a href="index.html" class="page-nav__link">Сообщество</a>
                <a href="index.html" class="page-nav__link">Учебный курс</a>
                <a href="index.html" class="page-nav__link">Корп. клиентам</a>
                <a href="index.html" class="page-nav__link">О проекте</a>
            </nav>
            <nav class="page-nav page-footer__nav">
                <a href="index.html" class="page-nav__link">Оферта</a>
                <a href="index.html" class="page-nav__link">Пользовательское соглашение </a>
            </nav>
            <div class="socials">
                <a href="index.html" target="_blank" class="socials__item socials__item--tg"></a>
                <a href="index.html" target="_blank" class="socials__item socials__item--inst"></a>
                <a href="index.html" target="_blank" class="socials__item socials__item--yt"></a>
            </div>
        </div>

    </footer>
    


    <script src="js/manifest.js"></script>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>